@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@300;400;700&family=Pacifico&display=swap');

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	--color-pattern: #810CE8;
	--color-pattern-hover: #5c1997;
	--color-pattern2: #F205CB;
	--color-pattern-hover2: #CA0EAB;

	--font-pattern1: 'Inter', Arial, Helvetica, sans-serif, serif;
	--font-pattern2: 'Merriweather', Arial, Helvetica, sans-serif, serif;
	--font-pattern3: 'Pacifico', Arial, Helvetica, sans-serif, serif;
}

html {
	font-size: 62.5%;
}

body::-webkit-scrollbar {
	/* fundo do scroll */
	height: 5px;
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	/* scroll que se movimenta */
	background-color: var(--color-pattern);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.contents {
	width: 1530px;
	/* 	width: 90vw; */
	margin: 80px 30px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

nav .contents {
	margin: 0 30px;
	padding: 30px 0;
}

ul {
	list-style: none;
}

#menu-desktop li img {
	height: 70px;
}

#menu-desktop ul.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-desktop .menu li {
	margin-right: 50px;
}

#menu-desktop .menu .list-login {
	margin-right: 0;
}

.menu li .login {
	display: block;
	border: 1px solid black;
	border-radius: 50px;
	padding: 2rem 3rem;
	transition: background-color 0.3s;
}

.menu li .login:hover {
	background-color: var(--color-pattern);
	color: white;
	transition: background-color 0.3s;
}

.menu li a {
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	color: black;
}

.menu li a:hover {
	color: var(--color-pattern-hover);
}

.list-menu-toggle {
	display: none;
	z-index: 20;
	cursor: pointer;
}

button {
	background-color: transparent;
}

.line {
	width: 40px;
	height: 2px;
	background-color: black;
	margin: 10px;
	transition: transform 0.5s;
}

button.active .line:nth-child(1) {
	transform: translateY(7px) rotate(-45deg);
	transition: transform 0.5s;
	background-color: white;
}

button.active .line:nth-child(2) {
	display: none;
}

button.active .line:nth-child(3) {
	transform: translateY(-5px) rotate(45deg);
	transition: transform 0.5s;
	background-color: white;
}

#menu-mobile {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	background-color: var(--color-pattern);
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

#menu-mobile .menu .title {
	font-size: 5rem;
	color: white;
	font-weight: bold;
	margin: 0 0 50px 0;
}

#menu-mobile .menu li {
	margin: 20px 0;
}

#menu-mobile .menu li a {
	display: flex;
	align-items: center;
	font-size: 3rem;
	color: white;
}

#menu-mobile .menu li img {
	height: 35px;
	margin-right: 10px;
}

#home-page {
	
}

#home-page.container {
	
}

#home-page .contents {
	margin: 40px 30px 80px 30px;
}

#home-page .flex {
	align-items: center;
}

#home-page .text .up {
	font-family: var(--font-pattern1);
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-pattern2);
}

#home-page .text .middle {
	font-family: var(--font-pattern2);
	font-size: 6rem;
	font-weight: bold;
	margin: 20px 0;
	word-break: break-word;
}

#home-page .text .middle span {
	color: var(--color-pattern);
}

#home-page .text .bottom {
	font-family: var(--font-pattern1);
	font-size: 2.4rem;
}

.button {
	background-color: var(--color-pattern);
	color: white;
	width: 254px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	font-weight: bold;
	margin-top: 20px;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--color-pattern-hover);
	transition: background-color 0.3s;
}

#home-page .button {
	font-size: 2.4rem;
}

#home-page img {
	height: 65.1rem;
}

#banner {
	height: 221px;
	background-image: url("images/banner.svg");
	background-repeat: no-repeat;
	background-color: var(--color-pattern);
	/* background-size: cover; */
}


#banner .data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#banner .data .number {
	font-family: var(--font-pattern2);
	font-size: 4rem;
	font-weight: 400;
}

#banner .data .information {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: 300;
}

.before-title {
	font-family: var(--font-pattern3);
	font-size: 2.8rem;
	font-weight: normal;
	margin-bottom: 11px;
}

h1 {
	font-family: var(--font-pattern2);
	font-size: 4.0rem;
	font-weight: bold;
	margin-bottom: 35px;
}

p {
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	font-weight: normal;
}

#benefits {
	background-image: url("images/benefits-background.svg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
}

#benefits .flex {
	align-items: center;
}

#benefits .text {
	width: 40%;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

#benefits a {
	background-color: var(--color-pattern2);
}

#benefits a:hover {
	background-color: var(--color-pattern-hover2);
}

#benefits .slider1 {
	width: 50%;
	overflow-x: hidden;
}

#benefits .slider1::-webkit-scrollbar {
	/* fundo do scroll */
	height: 5px;
}

#benefits .slider1::-webkit-scrollbar-thumb  {
	/* scroll que se movimenta */
	background-color: #D9731A;
}

#benefits .slider2 {
	width: 300%;
	display: flex;
	transition: transform 1s;
}

#benefits .group-benefits {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	gap: 5rem;
	padding: 10px 0;
}

.box-benefits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 29rem;
	height: 28.2rem;
	border: 1px solid #D9731A;
	border-radius: 20px;
	box-shadow: 1rem 1.1rem 0 0 #D9731A;
	background-color: white;
	padding: 15px;
	gap: 5px;
}

.box-benefits img {
	height: 8.6rem;
}

.box-benefits .title {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}

.box-benefits p {
	font-family: var(--font-pattern1);
	font-size: 1.6rem;
	text-align: center;
}

.box-button {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.box-button button {
	border: 1px solid var(--color-pattern2);
	border-radius: 100%;
	padding: 1rem;
	margin-right: 10px;
	cursor: pointer;
}

.box-button button:nth-child(1) {
	background-color: var(--color-pattern2);
}

.box-button button:last-child {
	margin: 0;
}

#about-us .flex {
	align-items: center;
}

#about-us .second-section .flex {
	flex-direction: row-reverse;
}

#about-us img {
	width: 52.8rem;
	height: 50.7rem;
}

#about-us .first-section,
#about-us .second-section,
#about-us .third-section {
	height: 700px;
	background-image: url("images/about-us-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-pattern);
}

#about-us .second-section {
	background-color: white;
}

#about-us .second-section .text {
	background-color: var(--color-pattern);
	color: white;
}

#about-us .text {
	width: 40.625vw;
	background-color: white;
	border-radius: 20px;
	padding: 35px;
}

#about-us .text p {
	font-size: 1.8rem;
	line-height: 25px;
}

#our-mission .before-title,
#our-mission h1 {
	text-align: center;
}

#our-mission .box-grid {
	display: grid;
	justify-content: center;
	align-items: center;
}

#our-mission .box {
	width: 383px;
	border: 1px solid var(--color-pattern);
	border-radius: 20px;
	padding: 20px 15px;
	box-shadow: 0 0 7px 1px var(--color-pattern);
}

#our-mission .box .title {
	font-family: var(--font-pattern1);
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 10px;
}

#our-mission .box .text {
	font-family: var(--font-pattern1);
	font-size: 1.5rem;
}

#our-mission img {
	height: 50rem;
}

#courses {
	background-color: var(--color-pattern);
}

#courses .before-title,
#courses h1 {
	color: white;
}

#courses .box-courses {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#courses .course {
	width: 44rem;
	background-color: white;
	border-radius: 20px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 50px;
}

#courses .course:nth-child(3n+2) {
	margin: 0 10px 50px 0;
}

#courses .course-image {
	width: 100%;
	height: 313px;
	position: relative;
	top: -50px;
	display: flex;
	justify-content: center;
	align-items: end;
}

#courses .course-image .image1 {
	height: 27.2rem;
}

#courses .course-image .image2 {
	height: 33rem;
}

#courses .course-image .image3 {
	height: 31rem;
}

#courses .box-informations {
	height: 305px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#courses .box-informations a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	background-color: var(--color-pattern2);
	border-radius: 10px;
	font-family: var(--font-pattern2);
	font-size: 2rem;
	font-weight: bold;
	color: white;
	transition: background-color 0.3s;
}

#courses .box-informations a:hover {
	background-color: var(--color-pattern-hover2);
	transition: background-color 0.3s;
}

#courses a>img {
	margin-left: 10px;
}

#courses .title {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}

#courses .information {
	display: flex;
	align-items: center;
}

#courses .information:last-child {
	margin-bottom: 0;
}

#courses .information img {
	height: 30px;
	margin-right: 10px;
}

#courses .information span {
	font-family: var(--font-pattern2);
	font-size: 1.5rem;
}

#courses .see-more {
	font-family: var(--font-pattern1);
	font-size: 1.6rem;
	color: black;
	background-color: white;
	border-radius: 50px;
	width: 153px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px auto auto auto;
	transition: all 0.5s;
}

#courses .see-more:hover {
	transition: filter 0.5s;
	filter: opacity(70%);
}

#courses .see-more img {
	filter: invert(100%);
	height: 17px;
}

#reasons .text {
	text-align: center;
	margin: 0 150px;
}

#reasons .button {
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 35px;
}

#reasons .r-numeration1 {}

#reasons .r-numeration2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 103px;
}

#reasons .numeration {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 41.8rem;
	height: 155px;
	border: 1px solid var(--color-pattern);
	border-radius: 20px;
	padding: 10px;
	margin: 13px;
	box-shadow: -10px 11px 0 0 var(--color-pattern2);
}

.r-numeration2 .r-num {}

.r-numeration2 .num {
	font-family: var(--font-pattern2);
	font-size: 4em;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-pattern);
	border-radius: 50%;
	width: 78.39px;
	height: 78.39px;
}

.r-numeration2 .r-text {
	margin-left: 15px;
}

.r-numeration2 .r-text .title {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.r-numeration2 .r-text p {
	font-size: 1.4rem;
}

/* Comments */

#comments {
	background-color: var(--color-pattern);
}

#comments .before-title,
#comments h1 {
	text-align: center;
	color: white;
}

#comments .box-sliders {
	width: 100%;
}

#comments .box-button button {
	border: 1px solid white;
	border-radius: 100%;
	padding: 1rem;
	margin-right: 10px;
	cursor: pointer;
}

#comments .box-button button:nth-child(1) {
	background-color: white;
}

#comments .box-button {
	margin: 20px auto auto auto;
}

#comments .box-button {

}

#comments .slider1 {
	width: 100%;
	overflow-x: hidden;
}

#comments .slider2 {
	display: flex;
	justify-content: space-around;
	width: 300%;
	margin-top: 30px; /* para mostrar as imagens fora do .comment */
	transition: transform 1s;
}

#comments .comment {
	width: 43.9rem;
	height: 45.1rem;
	background-color: white;
	border-radius: 20px;
	background-image: url("images/comments-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0 30px;
	box-shadow: 10px 0 0 0 rgba(255, 255, 255, 0.6);
	margin-right: 20px;
}

#comments .comment:last-child {
	margin-right: 0;
}

#comments .desc {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: -30px;
}

#comments .comment:last-child {
	margin: 0;
}

#comments .comment-image {
	height: 86px;
    width: 86px;
    overflow: hidden;
    border-radius: 100%;
	margin-bottom: 5px;
}

#comments .comment-image img {
	width: 100%;
}

#comments .name {
	font-family: var(--font-pattern1);	
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
}

#comments .location {
	font-family: var(--font-pattern1);	
	font-size: 1.4rem;
	text-align: center;
}

#comments p {
	font-family: var(--font-pattern1);	
	font-size: 1.6rem;
	font-weight: 600;
	color: #746282;
	margin-top: 20px;
}

/* FAQ */

#faq {
	background-image: url("images/faq-background.png");
	background-repeat: no-repeat;
	background-position: 30%;
}

#faq .group-questions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#faq .before-title,
#faq h1 {
	display: none;
}

#faq .box-question {
	width: 668px;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 10px;
	transition: background-color 0.5s;
	margin-bottom: 30px;
}

#faq .box-question.active {
	border: 1px solid black;
	box-shadow: 4px 7px 0 0 black;
	background-color: #D7BBF9;
	transition: background-color 0.5s;
}

#faq .question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

#faq img {
	margin-right: 10px;
	height: 40px;
}

#faq .title {
	font-family: var(--font-pattern2);
	font-size: 1.8rem;
	font-weight: bold;
}

#faq button {
	cursor: pointer;
	margin-left: 10px;
}

#faq .line {
	height: 3px;
}

#faq .line:nth-child(1) {
	transform: translateY(8px) rotate(-90deg);
}

#faq .line:nth-child(2) {
	transform: translateY(-4px) rotate(0deg);
}

#faq .box-question.active .line:nth-child(1) {
	transform: translateY(8px) rotate(0deg);
}

#faq .box-answer {
	margin-top: 10px;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;
}

#faq .box-answer.active {
	overflow: visible;
	height: auto;
	transition: height 0.5s;
}

#newsletter .subscribe {
	border-radius: 20px;
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.250);
	padding: 55px;
	display: flex;
	justify-content: space-between;
}

.subscribe .text .up {
	width: 80%;
	font-family: var(--font-pattern2);
	font-size: 5.0rem;
	font-weight: bold;
}

.subscribe .text .bottom {
	font-family: var(--font-pattern1);
	font-size: 2.5rem;
	font-weight: 600;
	margin: 22px 0;
}


.form input:not(input[type=checkbox]) {
	font-size: 2.4rem;
	display: flex;
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px;
	margin: 10px 0;
	width: 500px;
}

.form .checkbox {
	margin: 20px 0;
	display: flex;
}

.form input[type=checkbox] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.form label {
	font-size: 24px;
}

.form button {
	font-family: var(--font-pattern1);
	font-size: 2.4rem;
	font-weight: bold;
	background-color: var(--color-pattern);
	color: white;
	padding: 20px 60px;
	border-radius: 50px;
	cursor: pointer;
}

.form button:hover {
	background-color: var(--color-pattern-hover);
}

footer {
	background-color: var(--color-pattern);
}

footer .title {
	font-family: var(--font-pattern2);
	font-size: 2.8rem;
	font-weight: 700;
	color: white;
}

.f-left,
.f-center,
.f-right {
	width: 350px;
	margin-right: 10px;
	color: white;
}

.f-left p {
	margin: 10px 0 26px 0;
	font-size: 1.6rem;
}

.f-left .social-midia {
	display: flex;
}

.social-midia a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 100%;
	padding: 2rem;
	width: 4rem;
	height: 4rem;
	margin: 5px;
}

.social-midia img {
	height: 2.2rem;
}

footer a:hover {
	opacity: 80%;
}

footer .informations {
	font-family: var(--font-pattern1);
	font-size: 1.6rem;
	margin: 20px 0;
}

footer .information {
	margin: 20px 0;
}

.name {
	font-weight: bold;
}

.number-phone {
	font-weight: 400;
}

.number-phone a {
	color: white;
	text-decoration: underline;
}

.f-right {
	margin: 0
}

.f-right a {
	color: white;
	text-decoration: underline;
}

@media (max-width: 1530px) { /* gambiarra moments */
	#comments .box-sliders {
		width: 100vw;
	}	
}

@media (max-width: 1400px) {
	html {
		font-size: 55%;
	}

	#our-mission .flex {
		flex-direction: column;
	}

	#our-mission .box {
		margin: 10px 0;
	}

	#our-mission img {
		margin: 20px 0;
	}

	.subscribe .text .up {
		width: 90%;
	}

	.form button {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 50%;
	}

	#menu-desktop .menu li {
		margin-right: 17px;
	}

	#menu-desktop .menu li:last-child {
		margin-right: 0;
	}

	#benefits {
		background-image: unset;
	}

	#benefits .slider1 {
		width: 100%;
	}

	#benefits .text {
		width: 50%;
	}

	#courses .before-title, 
	#courses h1 {
		text-align: center;
	}

	#courses .box-courses {
		flex-direction: column;
		align-items: center;
	}

	#courses .course {
		height: 584px;
		margin-bottom: 50px;
	}

	#courses .course:last-child {
		margin-bottom: 0;
	}

	#courses .course-image {
		position: unset;
		width: 100% !important;
	}

	#courses .course-image .image1 {
		width: 100%;
		height: 100%;
	}

	#courses .box-informations {
		height: 100%;
	}

	#courses .title {
		margin-top: 20px;
	}

	#faq {
		background-image: unset;
	}

	#faq .group-questions {
		align-items: center;
	}

	#faq .before-title,
	#faq h1 {
		display: block;
	}

	#faq .line {
		width: 20px;
	}

	#newsletter .subscribe {
		align-items: center;
		flex-direction: column;
	}

	.subscribe .text .up {
		width: auto;
		text-align: center;
	}

	.subscribe .text .bottom {
		text-align: center;
	}

	.form button {
		margin: auto;
		width: 100%;
	}

	footer .flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	.f-left,
	.f-center,
	.f-right {
		margin: 20px;
	}
}

@media (max-width: 992px) {
	#menu-desktop ul.menu li{
		display: none;
	}

	#menu-desktop ul.menu li.list-login {
		display: block;
	}

	#menu-desktop ul.menu li.list-menu-toggle {
		display: block;
	}

	/* Menu Mobile */
	.list-menu-toggle {
		display: block;
		margin-left: 10px;
	}

	#home-page .flex {
		display: block;
	}

	#home-page .text {
		text-align: center;
	}

	#home-page .text .middle {
		font-size: 5rem;
	}

	#home-page .button {
		margin: auto;
		margin-top: 20px;
	}

	#home-page img {
		display: none;
	}

	#banner {
		height: auto;
		background-size: cover;
	}

	#banner .flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	#banner .data {
		margin: 10px;
	}

	#benefits .flex {
		flex-direction: column;
	}

	#benefits .slider1 {
		width: 100vw;
		overflow-x: scroll;
		padding: 20px 0;
	}

	#benefits .slider2 {
		transform: translateX(0px) !important;
	}

	#benefits .group-benefits {
		flex-wrap: nowrap;
		justify-content: space-around;
		gap: 0;
	}

	.box-benefits {
		margin: 0 20px;
	}

	#benefits .slider1 .box-button {
		display: none;
	}

	#benefits .text {
		width: 90%; /* para dar o margin, já que depois de utilizar overfloX:hidden o margin do contents desaparece */
		text-align: center;
		margin-bottom: 30px;
	}

	#benefits a {
		margin: 20px auto auto auto;
	} 

	#about-us .first-section,
	#about-us .second-section,
	#about-us .third-section {
		height: 480px;
		background-image: unset;
		background-color: var(--color-pattern);
		color: white;
	}

	#about-us .second-section {
		background-color: white;
	}

	#about-us .second-section .text {
		background-color: inherit;
		color: black;
	}

	#about-us .text {
		width: 100%;
		height: auto;
		border-radius: 0;
		padding: 0;
		background-color: inherit;
	}

	#about-us img {
		display: none;
	}

	#reasons .r-numeration1 {
		width: 100vw;
		overflow-x: scroll;
		padding-bottom: 20px;
	}

	#reasons .r-numeration1::-webkit-scrollbar {
		/* fundo do scroll */
		height: 5px;
	}

	#reasons .r-numeration1::-webkit-scrollbar-thumb {
		/* scroll que se movimenta */
		background-color: var(--color-pattern);
		border-radius: 20px;
	}

	#reasons .r-numeration2 {
		width: fit-content;
		flex-wrap: nowrap;
	}

	#reasons .numeration {
		width: 350px;
	}

	#comments .box-button {
		display: none;
	}

	#comments .slider1 {
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 20px;
	}

	#comments .slider1::-webkit-scrollbar {
		/* fundo do scroll */
		height: 5px;
	}

	#comments .slider1::-webkit-scrollbar-thumb {
		/* scroll que se movimenta */
		background-color: white;
		border-radius: 20px;
	}

	#comments .slider2 {
		transform: translateX(0%) !important;
		width: fit-content;
	}

	#faq .box-question {
		width: auto;
	}
}

@media (max-width: 768px) {
	#reasons .text {
		margin: 0 30px;
	}

	#newsletter .contents {
		margin: 0;
	}

	#newsletter .subscribe {
		border-radius: unset;
		box-shadow: unset;
		padding: 0;
		margin: 80px 30px;
	}

	.form {
		width: 100%;
	}

	.form input:not(input[type=checkbox]) {
		width: 100%;
	}
}

@media (max-width: 576px) {
	#banner .flex {
		display: block;
	}

	#banner .data {
		margin: 40px 0;
	}

	#banner .data:first-child {
		margin-top: 0;
	}

	#banner .data:last-child {
		margin-bottom: 0;
	}

	#about-us .first-section,
	#about-us .second-section,
	#about-us .third-section {
		height: 100vh;
	}

	#our-mission .box {
		width: auto;
	}

	#our-mission img {
		height: auto;
		width: 100%;
	}

	#courses .course {
		height: 584px;
		width: 100%;
	}

	#newsletter .contents {
		margin: 0;
	}

	footer .contents {
		justify-content: unset;
	}

	footer .flex {
		justify-content: start;
	}

	.f-left,
	.f-center,
	.f-right {
		width: auto;
	}
}



/* 
container geral: 100%

1200px
992px
576px

576px, 768px, 992px, 1200px e 1400px.

como funciona o redimencionalmento do figma, ele se ajusta à tela...
VW se baseando no media query?

Pega o valor padrão da div e tranforma em VW
Ex: 500px, se a tela for de 1400, faz: 1400/100 = 14 | 500/14 = 35vw
			  se a tela agora for de 1200, faz: 1200/100 = 12 | 500/12 = 41vw (aumentou como deveria)
			  se a tela agora for de 80, faz: 80/100 = 8 | 500/8 = 62vw (aumentou como deveria)


			
Sempre colocar o id antes da tag que vou altera, Ex: #Id p
para que eu sempre saiba de qual lugar vem a tag, se eu quiser apagar tudo vou saber exatamento de onde vem todos
os elementos, se for globa não precisa usar
*/