@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@300;400;700&family=Pacifico&display=swap');

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	--color-pattern: #810CE8;
	--color-pattern-hover: #5c1997;
	--color-pattern2: #F205CB;
	--color-pattern-hover2: #CA0EAB;

	--font-pattern1: 'Inter', Arial, Helvetica, sans-serif, serif;
	--font-pattern2: 'Merriweather', Arial, Helvetica, sans-serif, serif;
	--font-pattern3: 'Pacifico', Arial, Helvetica, sans-serif, serif;
}

html {
	font-size: 62.5%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.contents {
	width: 1530px;
/* 	width: 90vw; */
	margin: 80px 30px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

nav .contents {
	margin: 0 30px;
	padding: 30px 0;
}

ul {
	list-style: none;
}

#menu-desktop li img {
	height: 70px;
}

#menu-desktop ul.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-desktop .menu li {
	margin-right: 50px;
}

#menu-desktop .menu .list-login {
	margin-right: 0;
}

.menu li .login {
	display: block;
	border: 1px solid black;
	border-radius: 50px;
	padding: 2rem 30px;
	transition: background-color 0.3s;
}

.menu li .login:hover {
	background-color: var(--color-pattern);
	color: white;
	transition: background-color 0.3s;
}

.menu li a {
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	color: black;
}

.menu li a:hover {
	color: var(--color-pattern-hover);
}

.list-menu-toggle {
	display: none;
	z-index: 10;
}

button {
	background-color: transparent;
}

.line {
	width: 40px;
	height: 2px;
	background-color: black;
	margin: 10px;
	transition: transform 0.5s;
}

button.active .line:nth-child(1) {
	transform: translateY(5px) rotate(-45deg);
	transition: transform 0.5s;
	background-color: white;
}

button.active .line:nth-child(2) {
	display: none;
}

button.active .line:nth-child(3) {
	transform: translateY(-5px) rotate(45deg);
	transition: transform 0.5s;
	background-color: white;
}

#menu-mobile {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	background: var(--color-pattern);
	height: 100vh;
	width: 100vw;
}

#menu-mobile .menu .title {
	font-size: 5rem;
	color: white;
	font-weight: bold;
	margin: 0 0 50px 0;
}

#menu-mobile .menu li {
	margin: 20px 0;
}

#menu-mobile .menu li a {
	display: flex;
	align-items: center;
	font-size: 3rem;
	color: white;
}

#menu-mobile .menu li img {
	height: 35px;
	margin-right: 10px;
}

#home-page .flex {
	align-items: center;
}

#home-page .text .up {
	font-family: var(--font-pattern1);
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-pattern2);
}

#home-page .text .middle {
	font-family: var(--font-pattern2);
	font-size: 6rem;
	font-weight: bold;
	margin: 20px 0;
	word-break: break-word;
}

#home-page .text .middle span {
	color: var(--color-pattern);
}

#home-page .text .bottom {
	font-family: var(--font-pattern1);
	font-size: 2.4rem;
}

.button {
	background-color: var(--color-pattern);
	color: white;
	width: 254px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	font-weight: bold;
	margin-top: 20px;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--color-pattern-hover);
	transition: background-color 0.3s;
}

#home-page .button {
	font-size: 2.4rem;
}

#home-page img {
	height: 65.1rem;
}

#banner {
	height: 221px;
	background-image: url("images/banner.png");
	background-repeat: no-repeat;
	/* background-size: cover; */
}


#banner .data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#banner .data .number {
	font-family: var(--font-pattern2);
	font-size: 4rem;
	font-weight: 400;
}

#banner .data .information {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: 300;
}

h2 {
	font-family: var(--font-pattern3);
	font-size: 2.8rem;
	font-weight: normal;
	margin-bottom: 11px;
}

h3 {
	font-family: var(--font-pattern2);
	font-size: 4.0rem;
	font-weight: bold;
	margin-bottom: 35px;
}

p {
	font-family: var(--font-pattern1);
	font-size: 1.8rem;
	font-weight: normal;
}

#about-us .flex {
	/* display: flex;
	justify-content: space-between; */
	align-items: center;
}

#about-us .second-section .flex {
	flex-direction: row-reverse;
}

#about-us img {
	width: 52.8rem;
	height: 50.7rem;
}

#about-us .first-section,
#about-us .second-section,
#about-us .third-section {
	height: 700px;
	background-image: url("images/about-us-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-pattern);
}

#about-us .second-section {
	background-color: white;
}

#about-us .second-section .text {
	background-color: var(--color-pattern);
	color: white;
}

#about-us .text {
	width: 40.625vw;
	background-color: white;
	border-radius: 20px;
	padding: 35px;
}

#about-us .second-section .text {
	background-color: var(--color-pattern);
	color: white;
}

#about-us .text p {
	font-size: 1.8rem;
	line-height: 25px;
}

#reasons {
	/* background-image: url("images/reasons-background.png");
	background-repeat: no-repeat;
	background-size: cover; */
}

#reasons .text {
	text-align: center;
	margin: 0 150px;
}

#reasons .button {
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 35px;
}

/* #reasons .button:hover {
	
} */

#reasons .r-numeration1 {}

#reasons .r-numeration2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 103px;
}

#reasons .numeration {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 41.8rem;
	height: 155px;
	border: 1px solid var(--color-pattern);
	border-radius: 20px;
	padding: 10px;
	margin: 13px;
	box-shadow: -10px 11px 0 0 var(--color-pattern2);
}

.r-numeration2 .r-num {}

.r-numeration2 .num {
	font-family: var(--font-pattern2);
	font-size: 4em;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-pattern);
	border-radius: 50%;
	width: 78.39px;
	height: 78.39px;
}

.r-numeration2 .r-text {
	margin-left: 15px;
}

.r-numeration2 .r-text .title {
	font-family: var(--font-pattern2);
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.r-numeration2 .r-text p {
	font-size: 1.4rem;
}

#newsletter .subscribe {
	border-radius: 20px;
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.250);
	padding: 55px;
	display: flex;
	justify-content: space-between;
}

.subscribe .text .up {
	width: 80%;
	font-family: var(--font-pattern2);
	font-size: 5.0rem;
	font-weight: bold;
}

.subscribe .text .bottom {
	font-family: var(--font-pattern1);
	font-size: 2.5rem;
	font-weight: 600;
	margin: 22px 0;
}


.form input:not(input[type=checkbox]) {
	font-size: 2.4rem;
	display: flex;
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px;
	margin: 10px 0;
	width: 500px;
}

.form .checkbox {
	margin: 20px 0;
	display: flex;
}

.form input[type=checkbox] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.form label {
	font-size: 24px;
}

.form button {
	font-family: var(--font-pattern1);
	font-size: 2.4rem;
	font-weight: bold;
	background-color: var(--color-pattern);
	color: white;
	padding: 20px 60px;
	border-radius: 50px;
	cursor: pointer;
}

.form button:hover {
	background-color: var(--color-pattern-hover);
}

footer {
	background-color: var(--color-pattern);
}

/* footer .flex {
	display: flex;
	justify-content: space-between;
} */

footer .title {
	font-family: var(--font-pattern2);
	font-size: 2.8rem;
	font-weight: 700;
	color: white;
}

.f-left,
.f-center,
.f-right {
	width: 350px;
	margin-right: 10px;
	color: white;
}

.f-left p {
	margin: 10px 0 26px 0;
	font-size: 1.6rem;
}

.f-left .social-midia {
	display: flex;
}

.social-midia a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 100%;
	padding: 2rem;
	width: 4rem;
	height: 4rem;
	margin: 5px;
}

.social-midia img {
	height: 2.2rem;
}

.social-midia a:hover {
	opacity: 80%;
}

footer .informations {
	font-family: var(--font-pattern1);
	font-size: 1.6rem;
	margin: 20px 0;
}

footer .information {
	margin: 20px 0;
}

.name {
	font-weight: bold;
	margin-bottom: 5px;
}

.number-phone {
	font-weight: 400;
	text-decoration: underline;
}

.number-phone a {
	color: white;
}

.number-phone a:hover {
	opacity: 80%;
}

.f-right {
	margin: 0
}

@media (max-width: 1400px) {
	html {
		font-size: 55%;
		/* 50% */
	}

	.subscribe .text .up {
		width: 90%;
	}

	.form button {
		display: flex;
		justify-content: center;
	}

}

@media (max-width: 1200px) {
	html {
		font-size: 50%;
		/* 45% */
	}

	#menu-desktop .menu li {
		margin-right: 17px;
	}

	#menu-desktop .menu li:last-child {
		margin-right: 0;
	}

	#newsletter .subscribe {
		align-items: center;
		flex-direction: column;
	}

	.subscribe .text .up {
		width: auto;
		text-align: center;
	}

	.subscribe .text .bottom {
		text-align: center;
	}

	.form button {
		margin: auto;
		width: 100%;
	}

	footer .flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	.f-left,
	.f-center,
	.f-right {
		margin: 20px;
	}
}

@media (max-width: 992px) {
	#menu-desktop ul.menu li:nth-child(-n+5) {
		display: none;
	}

	/* Menu Mobile */
	.list-menu-toggle {
		display: block;
		margin-left: 10px;
	}

	#home-page .flex {
		display: block;
	}

	#home-page .text {
		text-align: center;
	}
	
	#home-page .text .middle {
		font-size: 5rem;
	}

	#home-page .button {
		margin: auto;
		margin-top: 20px;
	}

	#home-page img {
		display: none;
	}

	#banner {
		height: auto;
		background-size: cover;
	}

	#banner .flex {
		/* display: block; */
		flex-wrap: wrap;
		justify-content: center;
	}

	#banner .data {
		margin: 10px;
	}

	#about-us .first-section,
	#about-us .second-section,
	#about-us .third-section {
		height: 480px;
		background-image: unset;
		background-color: white;
	}

	#about-us .second-section {
		background-color: var(--color-pattern);
	}

	#about-us .text {
		width: 100%;
		height: auto;
		border-radius: 0;
		padding: 0;
	}

	#about-us img {
		display: none;
	}

	#reasons .r-numeration1 {
		width: 100vw;
		overflow-x: scroll;
		padding-bottom: 20px;
	}

	#reasons .r-numeration1::-webkit-scrollbar { /* fundo do scroll */
		background-color: var(--color-pattern);
		height: 5px;
	}

	#reasons .r-numeration1::-webkit-scrollbar-thumb { /* scroll que se movimenta */
		background-color: var(--color-pattern2);
		border-radius: 20px;
	}

	#reasons .r-numeration2 {
		width: fit-content;
		flex-wrap: nowrap;
	}

	#reasons .numeration {
		width: 350px;
	}
}

@media (max-width: 768px) {
	#reasons .text {
		margin: 0;
	}

	#newsletter .contents {
		margin: 0;
	}

	#newsletter .subscribe {
		border-radius: unset;
		box-shadow: unset;
		padding: 0;
		margin: 80px 30px;
	}

	.form {
		width: 100%;
	}

	.form input:not(input[type=checkbox]) {
		width: 100%;
	}
}

@media (max-width: 576px) {
	/* html {
		font-size: 35%;
	} */

	#banner .flex {
		display: block;
	}

	#banner .data {
		margin: 40px 0;
	}

	#banner .data:first-child {
		margin-top: 0;
	}

	#banner .data:last-child {
		margin-bottom: 0;
	}

	#about-us .first-section,
	#about-us .second-section,
	#about-us .third-section {
		height: auto;
	}

	#newsletter .contents {
		margin: 0;
	}

	footer .contents {
		justify-content: unset;
	}

	/* .f-left,
	.f-center,
	.f-right {
		width: auto;
	} */
}



/* 
container geral: 100%

1200px
992px
576px

576px, 768px, 992px, 1200px e 1400px.

como funciona o redimencionalmento do figma, ele se ajusta à tela...
VW se baseando no media query?

Pega o valor padrão da div e tranforma em VW
Ex: 500px, se a tela for de 1400, faz: 1400/100 = 14 | 500/14 = 35vw
			  se a tela agora for de 1200, faz: 1200/100 = 12 | 500/12 = 41vw (aumentou como deveria)
			  se a tela agora for de 80, faz: 80/100 = 8 | 500/8 = 62vw (aumentou como deveria)
*/